{erl_opts, [debug_info, {src_dirs, ["test/unit",
                                    "test/integration",
                                    "test/system",
                                    "src"]}]}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test/unit",
               "test/integration",
               "test/system",
               "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git",
                     "be25cc135e6c8f0d50288b41d7cf6a0572fe83fb"}},
   {'lfe-utils', ".*", {git, "https://github.com/lfe/lfe-utils.git", "master"}},
   {lfeunit, ".*", {git, "git://github.com/lfe/lfeunit.git", "master"}}
  ]}.
